@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v24/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTNFOVgaY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

li [data-author-username="glass_of_the_soul"], [data-author-username="Glass (it/its) | Clocktower"],  [data-author-username="Woven \"ven\" Mirror {ART/CAT - 4a70} | Clocktower"] {
    [class*=message_]  {
        background-image: url(https://glass-memoirs.github.io/Glass-Memoirs/Images/Background/mw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    [class*=message]::after  {
        content: "";
        position: absolute;
        inset: 0;
        background: url("https://glass-memoirs.github.io/Glass-Memoirs/Images/Overlay/corruripplebastard.gif") center / cover;
        pointer-events: none;
        z-index: 5;
        mix-blend-mode: screen; 
        opacity: 0.15; 
    }   


    [class*=message_], [class*=messageContent_] h1, [class*=messageContent_] h2, [class*=messageContent_] h3 {
        font-family: 'JetBrains Mono' !important;
        border-style: groove dashed !important; 
        border-width: 1ch;
        border-radius: 2ch;
        border-color: rgba(147, 70, 219, 0.568) !important;
        text-shadow: 1px 1px  black, 1px -1px black, -1px -1px black, -1px 1px black!important;
    }

    [class*=messageContent_] {
        -webkit-text-fill-color: #f141e3;
    }

    [class*=messageContent_] a {
        -webkit-text-fill-color: aqua;
    }
}
